<div class=" d-md-none accordion">
  <div class="accordion-item">
    <button id="accordion-button-1" aria-expanded="false">
      <span class="accordion-title">product details</span>
      <span class="icon" aria-hidden="true"></span>
    </button>
    <div class="accordion-content">
      <h2>Transform your space with our high-quality canvas and poster art prints</h2>
      <p>
        {{ product.description }}

      </p>
    </div>
  </div>
</div>
<div class="accordion-content accor-wrapper d-md-block d-none">
  <h2>Transform your space with our high-quality canvas and poster art prints</h2>
  <p>
    {{ product.description }}

  </p>
</div>