<div class="errorwrapper">
    <div class="d-flex flex-column justify-content-center align-items-center mt-5"> 
        <img style="width:150px" src="{{ '404.png' | asset_img_url: 'master' }}" alt="">
        <h1 class="mt-1"> Error 404: Page not found </h1> 
        <div class=" py-5">
            <a class="big-button" href="/">home</a>
        </div>
        
    </div>
</div>